/**/

div.currentInstallation {
    margin: 0 auto; 
}

table.installationData {
    border-collapse: collapse;
	text-align: center;
	line-height: 1.2;
    margin: 0 auto; 
}
table.installationData th {
	width: 25%;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border: 1px solid #ccc;
}
table.installationData td {
	width: 75%;
	padding: 10px;
	vertical-align: top;
	border: 1px solid #ccc;
    overflow-x: auto;
}

#nav{
    list-style-type: none;
    overflow: hidden;
}

#nav li{
    width: 44%;
    text-align: center;
    background-color: #333;
    float: left;
    height: 50px;
    line-height: 50px;
    margin-right: 2px;
}

#nav li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 20px;
}


    
}

